{% extends "base.html" %}
{% block head_title %} {{ user.username }}|{{block.super}} {% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>
<hr/>
{% if user.restaurantlocation_set.all.exists %}
{% for restaurant in user.restaurantlocation_set.all  %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-default" style="margin-bottom: 15px">
            <h4>{{restaurant.name}}</h4>
                <p>{{restaurant.location}} | {{ restaurant.category }}</p>
                <ul>
                    {% for item in restaurant.item_set.all %}
                    <li style="margin-bottom: 25px"><b>{{ item.name }}</b><br/>
                        {{ item.contents }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
<p class="lead" >No Restaurants found</p>
{% endif %}
{% endblock content%}