{% extends "base.html" %}
{% block head_title %} Restaurants|{{block.super}} {% endblock head_title %}

{% block content %}
<h1>Menu Items</h1>

<ul>
    {% for obj in object_list %}
    <li><a href='{{ obj.get_absolute_url }}'> {{obj.name}} </a><br/>
        {% if obj.contents %}
        Contents
        <ul>
            {% for content in obj.get_contents %}
            <li>{{ content }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if obj.excludes %}
        excludes
        <ul>
            {% for content in obj.get_excludes %}
            <li>{{ content }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </li>
    {% endfor %}
</ul>

{% endblock content%}