<div class="container">
    <nav class="navbar navbar-default" style="border-radius: 10px">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Restaurants.com</a>
        </div>
        <div class="navbar-toggler">
            <li> <a class="active" href="{% url 'home' %}"> Home</a></li>
            <li><a href="{% url 'about' %}"> About</a></li>
        <li><a href="{% url 'contact' %}"> Contact</a></li>
            {% if request.user.is_authenticated %}
        <li><a href="{% url 'restaurants:list' %}"> Restaurants </a></li>
        <li><a href="{% url 'menus:list' %}"> menu </a></li>
        <li><a href="{% url 'logout' %}"> Logout</a></li>
            {% else %}
        <li><a href="{% url 'login' %}"> Login </a></li>
        <li><a href="{% url 'register' %}"> Register</a></li>
            {% endif %}
        </div>
            </div>
    </nav>
</div>